# Preparation For Lecture 10

Lecture 10 on October 23, 2025 will feature an in class exercise that will give you hands on experience developing and executing SQL queries against the STARR OMOP de-id confidential dataset.  In order for the workshop to run smoothly, several steps need to be taken BEFORE you join class on the 23rd.  

If you're looking at this notebook, you should already have completed the `Lecture 10 Preparation Assignment #1: Compute and Data Access Set-up` in Canvas.

__Gaining access to all necessary servers and datasets may take several days, so make sure you get started early!__

# Executing a query 

### Data:  STARR-OMOP Confidential
To complete this second and final pre-assignment, you will need to have been granted access to the STARR-OMOP confidential lite dataset.

Copy this jupyter notebook over to your BIOMEDIN215 compute environment home directly - simply drag it into the left most panel of your jupyter lab environment you've launched by navigating to https://www.nigam-bmds215.compute.stanford.edu/. Double click on it to launch the notebook. 

### Tools

For this assignment, we will be working in R. STARR-OMOP confidential lite is stored in Google BigQuery, and we will query it using SQL; fortunately, there is an R package (`bigrquery`) that allows us to do this without leaving the R environment.

(Though we will use R for this pre-assignment and in the exercise, there are equivalent Python packages for querying data that is stored in BigQuery.)

### What is SQL?

SQL is an abbreviation for Structured Query Language, developed to manage data stored in a relational database. With SQL, and you can define and extract subsets of data, and make joins across data tables; working in SQL may feel familiar to manipulating and joining data frames in pandas (Python) and dplyr/data.table (R).

### Setup

To query tables using R, we first need to load packages and set up our system environment:

In [2]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(dplyr)      # to analyze data in R, and do our descriptive analysis

# We have credentials to access data, but we need to tell our system environment about them. 
# Fill in your own Nero username here! (it should be your SUNet ID)
MY_USERNAME <- "nallen21"

# This sets our system variables:
MY_CREDENTIALS <- paste0("/home/", MY_USERNAME, "/.config/gcloud/application_default_credentials.json")
Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = MY_CREDENTIALS)
Sys.setenv(GCLOUD_PROJECT = "som-nero-nigam-bmi215")
gargle::credentials_app_default();

# To access the data, we have a "project" where our data access permissions have been defined.
# You don't need to worry about this today - but it will appear in all of our queries.
project_name <- "som-nero-nigam-bmi215"

SyntaxError: invalid syntax (3593903162.py, line 12)

### Execute a query and read results into R
Let's do our first query: _how many people are in the de-id lite extract of STARR OMOP?_

In OMOP, the `person` table has one row for every person in the data ([reference](https://github.com/OHDSI/CommonDataModel/wiki/PERSON)). To see how many people are in the dataset, we will count the rows of the `person` table .

Our query will be: 

```
SELECT
    COUNT(*)
  FROM
    som-rit-phi-starr-prod.starr_omop_cdm5_confidential_lite_latest.person 
```

Note that we refer to the `person` table using its full path:

```som-rit-phi-starr-prod.starr_omop_cdm5_deid_confidential_latest.person```

We will do this every time we query any table! We refer to each table by its full name in the form `project_name.dataset_name.table_name`. In this case, the project name is `som-rit-phi-starr-prod`, and the dataset name is `starr_omop_cdm5_confidential_lite_latest`.

Run the query, and copy this number into the submission box of this pre-assignment. Congrats - you are ready for lecture 10!

In [ ]:
sql = "
SELECT
    COUNT(*) -- from table structure we know there is one row per unique person
FROM
    som-rit-phi-starr-prod.starr_omop_cdm5_confidential_lite_latest.person 
"

# Query the data:
tb <- bq_project_query(project_name, sql)

# And download the result of the query, as an R data.frame:
bq_table_download(tb)